@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Pahawh+Hmong&display=swap');


body{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,0.7455357142857143) 0%, rgba(144,52,104,1) 35%, rgba(255,255,255,0.7931547619047619) 100%);
}
.supercont{
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
}

